<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas nétas"
                subheader="del año">
            <i class="pi pi-dollar"></i>
            {{ (ventasNetas + 1000000) |number:'1.2-4' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Ventas Brutas"
                subheader="del año">
            {{ (ventasNetas + 2000000) |currency:'USD':'symbol-narrow': '1.0-2' }} 
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ganancia %"
                subheader="del año">
            {{ porcentaje | percent:'1.2-2' }}
        </p-card>
    </div>
</div>
